:root {
  --novel-black: #f8f8f2;
  --novel-white: #282a36;
  --novel-stone-50: #44475a;
  --novel-stone-100: #41434f;
  --novel-stone-200: #383a4a;
  --novel-stone-300: #565761;
  --novel-stone-400: #6272a4;
  --novel-stone-500: #bd93f9;
  --novel-stone-600: #ff79c6;
  --novel-stone-700: #8be9fd;
  --novel-stone-800: #f1fa8c;
  --novel-stone-900: #f8f8f2;

  --novel-highlight-default: #6272a4;
  --novel-highlight-purple: #bd93f9;
  --novel-highlight-red: #ff5555;
  --novel-highlight-yellow: #f1fa8c;
  --novel-highlight-blue: #8be9fd;
  --novel-highlight-green: #50fa7b;
  --novel-highlight-orange: #ffb86c;
  --novel-highlight-pink: #ff79c6;
  --novel-highlight-gray: #6272a4;

  --font-title: "Cal Sans", sans-serif;
}

.dark-theme {
  --novel-black: #f8f8f2;
  --novel-white: #282a36;
  --novel-stone-50: #44475a;
  --novel-stone-100: #41434f;
  --novel-stone-200: #383a4a;
  --novel-stone-300: #565761;
  --novel-stone-400: #6272a4;
  --novel-stone-500: #bd93f9;
  --novel-stone-600: #ff79c6;
  --novel-stone-700: #8be9fd;
  --novel-stone-800: #f1fa8c;
  --novel-stone-900: #f8f8f2;

  --novel-highlight-default: #6272a4;
  --novel-highlight-purple: #bd93f9;
  --novel-highlight-red: #ff5555;
  --novel-highlight-yellow: #f1fa8c;
  --novel-highlight-blue: #8be9fd;
  --novel-highlight-green: #50fa7b;
  --novel-highlight-orange: #ffb86c;
  --novel-highlight-pink: #ff79c6;
  --novel-highlight-gray: #6272a4;
}

@font-face {
  font-family: "Cal Sans";
  src: local("Cal Sans"), url(CalSans-SemiBold.otf) format("otf");
}
